.hudContainer {
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    
    
     
    
}

.hudElementContainer {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    gap: 1rem;
    flex-wrap: wrap; 
}

.boardContainer {
    width: 100%;
    position: relative;
    overflow-x: auto;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
}


.buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn-modal {
    font-family: 'Arial', sans-serif; 
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #000; 
    text-align: center; 
    padding: 1.5rem 3rem; 
    border: 3px solid rgb(206, 143, 8);
    background-color: #e9c46a;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 1rem;
}

.btn-modal:hover {
    background-color: #ffd166;
}

.Score-text {
    font-size: 3rem;
    font-weight: bold;
    color: #ffd700;
    margin-left: auto;
    margin-right: 3rem;
    padding-right: 1rem;
    text-shadow: -1px -1px 0 rgb(0, 0, 0),  
                  1px -1px 0 rgb(0, 0, 0),
                 -1px 1px 0 rgb(0, 0, 0),
                  1px 1px 0 rgb(0, 0, 0);
}


.score-container {
    margin-left: auto;
}