.hudContainer {
    align-items: center;
    height: 15%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
}

.hudElementContainer {
    display: flex;
    gap: 3rem;
}

.boardContainer {
    width: 100%;
    position: relative;
    overflow-x: auto;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
}