.ResourceBarContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.hudContainer {
    background-color: transparent;
    position: fixed;
}

.ResourceGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5); /* Add stroke around each resource group */
    
    border-radius: 10px;
  }

.ResourceContainer {

    display: flex;
    align-items: center;
    margin-right: 20px; /* Add margin to space out the resources */
    padding: 5px;
    border: 2px solid rgb(206, 143, 8);
    border-radius: 10px;
    background-color: #e9c46a;
    
}

.ResourceInfoIcon {
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 5px; /* Add margin to space out the info icon */
    
}

.ResourceInfoText {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity here */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

.ResourceInfoIcon:hover + .ResourceInfoText {
    display: block;
}

.btn {
    font-size: 0.8rem;
    padding: 8px 15px;
    background-color: #f2de7f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Add margin to space out the buttons */
}

.btn:hover {
    background-color: #e9c46a;
}

.ResourceAmountText {
    font-size: 1.2rem;
    font-weight: bold;
}
