.ResourceBarContainer {
    display: flex;
    align-items: center;
}

.ResourceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /*border: 1px solid #ccc; */
    /* This border was here for testing purposes */
    margin: 5px;
}

.ResourceInfoIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.ResourceInfoText {
    display: none;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
}

.ResourceInfoIcon:hover + .ResourceInfoText {
    display: block;
}