body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.basicDiv {
  background-color: rgba(242, 222, 143, 0.8);
  padding: 20px;
}

.battleModal{
  width: auto;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  background-color: #e9c46a;
  padding: 8px 26px;
  margin: 20px;
  border: solid #785504 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 14px;
  transition: 75ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  transition: 75ms;
  padding: 8px 22px;
  transform: translateY(-0px);
  background-color: #cfa648;
  color: #000000;
  border: solid 3px #785504;
}


