body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modalDiv{
  padding-top: 60px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
}

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  background-color: #e9c46a;
  padding: 10px 30px;
  margin: 20px;
  border: solid #785504 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 14px;
  transition: 75ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  transition: 75ms;
  padding: 10px 26px;
  transform: translateY(-0px);
  background-color: #cfa648;
  color: #000000;
  border: solid 3px #785504;
}

.overlay {
  background: rgba(242, 222, 143, 0.8);
  padding: 30px;
}

.storeModal{
  width: auto;
  background-color: rgba(242, 222, 143);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
  padding: 20px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody {
  max-height: 200px; /* Set the maximum height for the tbody to make it scrollable */
  overflow-y: auto; /* Enable vertical scrolling */
  display: block; /* Enable block-level container for tbody */
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}